<html>

  <head>
    <title>Miles' Hangar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://js.stripe.com/v3/"></script>

    <style>
      .error {
        color: red;
        font-size: 18px;
      }
      .success {
        color: green;
        font-size: 18px;
      }

      form > label {
        display: block;
        margin-bottom: 10px;
      }

      header {
        margin-bottom:2em;
        float: right;
        margin-right:10%;
      }

      footer {
        margin-top: 5em;
      }
    </style>
  </head>

  <body>

    <header>
      <div class="cart">
        <p>You have <%= session[:cart].count %> items in your cart.<p>
        <p>Cart total: <%= Money.new(Plane.total_cost_cents_usd(session[:cart]), "USD").format %></p>
        <a href="/checkout">
          <button>Checkout</button>
        </a>
      </div>
    </header>

    <h1>Welcome to Miles' Hangar</h1>

    <% unless @error_msg.nil? %>
    <div class="error" role="alert">
      <%= @error_msg %>
    </div>
    <% end %>

    <% unless @success_msg.nil? %>
    <div class="success" role="alert">
      <%= @success_msg %>
    </div>
    <% end %>

    <%= yield %>

    <footer>
      <p>Copyright 2020 Miles Matthias. Questions? <a href="mailto:miles@hiremiles.com">Email miles@hiremiles.com</a> :)</p>
    </footer>

  </body>

</html>
